@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

/* FONT SIZES */
.bigTitle {
    font-size: 3rem;
    text-align: center;
}

.title {
    font-size: 18px;
    font-weight: bold;
}
.paragraph {
    font-size: 18px;
}

* {
    padding: 0;
    margin: 0;
}

/* Home.html */
body {
    background-image: linear-gradient(to right, #141E30, #243B55);
    color: white;
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 5vh 0 0 0;
}

.center {
    display: flex;
    flex-direction: column;
    align-items: center;
    
}

.card {
    margin: 50px 0;
    background-image: linear-gradient(to right, #00B4DB, #0083B0);
    color: white;
    height: 330px;
    width: 400px;
    border-radius: 40px;
    padding: 1vh 0vh;
}

.cardText {
    display: flex;
    align-items: center;
    justify-content: center;
}

footer {
    background-image: linear-gradient(to left, #141E30, #243B55);
    height: 20vh;
    margin: 0px;
    padding: 5vw 10vw;
    border-top: solid 1px white;
}

a {
    color: #56CCF2;
}

.cardAnchor {
text-decoration: none;
}

hr {
    width: 80vw;
    height: 1px;
    background-color: white;
}




 
@media only screen and (min-width: 360px){

    .paragraph {
        font-size: 16px;
    }

    .card {
        margin: 50px 0;
        width: 320px;
        padding: 1vh 0vh;
    }

    
    .card1 {
        height: fit-content;
    }



    #hr_div{
        display: flex;
        justify-content: center;
        align-items: center;
    }
}